.testimonials-list .testimonial {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 40px;
    position: relative;
}

.testimonials-list .testimonial:first-child {
    margin-top: 0px;
}

.testimonials-list .more-button {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 1px;
    font-size: 18px;
    text-align: center;
}

.testimonials-list .more-button a {
    color: #fff;
    background: #479ccf;
    border: 1px solid #3793cb;
    text-shadow: 0 1px 0 #3188bc;
    text-decoration: none;
    padding: 11px 30px;
    transition: background 0.2s linear 0;
}

.testimonials-list .more-button a:focus,
.testimonials-list .more-button a:hover  {
    background: #5ba7d4;
    color: #fff;
}

.testimonials-list .more-button a:focus {
    background: #5ba7d4;
    color: #fff;
    box-shadow: inset 0 0 8px #3188bc;
}

.testimonials-list .more-button .disabled {
    opacity: 0.5;
    cursor: wait;
}

.testimonials-list .page-title button {
    float: right;
}

.testimonials-list .page-title h1 {
    float: left;
}

.testimonials-list .testimonial-image {
    float: left;
    margin-top: 30px;
}

.testimonials-list .testimonial .message-wrapper {
    clear: both;
}

.testimonials-list .testimonial .content-wrapper {
    float: left;
}

.testimonials-list .testimonial .message {
    margin-top: 25px;
    margin-bottom: 10px;
}

.testimonials-list .testimonial .testimonial-date {
    float: right;
    font-size: 12px;
}

.testimonials-list .testimonial .rating-wrapper {
    float: left;
    font-size: 12px;
}

.testimonials-list .testimonial .socialInfo {
    font-size: 12px;
}

.testimonials-list .testimonial .socialInfo,
.testimonials-list .testimonial .author-info {
    padding-right: 50px;
}

.testimonials-list .testimonial .socialInfo a {
    white-space: nowrap;
}

.testimonials-list .testimonial .rating-title {
    float: left;
    margin-right: 10px;
    line-height: 1.25;
}

.testimonials-list .testimonial .rating-box {
    float: left;
}

.testimonials-list .copyright {
    text-align: center;
    color: #000;
    font-size: .9em;
}

/** quotes styles */
.testimonials-list .testimonial .bqstart,
.testimonials-list .testimonial .bqend {
    height: 50px;
    position: absolute;
    top: -15px;
    left: -10px;
    color: #ccc;
    font: normal 100px/100px Helvetica, Arial, sans-serif;
    font-style: italic;
}
.testimonials-list .testimonial .bqend {
    top: auto;
    left: auto;
    bottom: 5px;
    right: 10px;
 }

/** widgets styles */
.block-testimonials .block-title strong {
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 21px;
    background-image: url(/skin/frontend/default/default/images/i_block-poll.gif);
}

.block-testimonials .actions {
    text-align: right;
    background: #dee5e8 url(/skin/frontend/default/default/images/bkg_block-actions.gif) 0 0 repeat-x;
    padding: 6px 9px;
}

.block-testimonials .actions a {
    float: none;
}

.block-testimonials .block-content a {
    color: #1b2d3b;
}

.block-testimonials {
    font-size: 11px;
    line-height: 1.25;
}

.block-testimonials .block-content .content {
    padding: 10px 10px 30px 10px;
}

.block-testimonials .block-content .review {
    text-align: center;
}

.block-testimonials .block-content .review .score {
    font-weight: bold;
    font-size: 40px;
    color: #e26703;
}

.block-testimonials .block-content .content .rating-title {
    float: left;
    margin-right: 10px;
}

.block-testimonials .block-content .content .message {
    margin-top: 10px;
}

.block-testimonials .block-content .content .name {
    float: right;
    margin-top: 10px;
    font-style: italic;
}

.testimonials-list .testimonial { zoom: 1; }
.testimonials-list .testimonial:after { content: '.'; clear: both; height: 0; font-size: 0; display: block; visibility: hidden; }

@media (max-width: 480px) {
    .testimonials-list .testimonial .testimonial-date {
        float: left;
        margin-bottom: 10px;
        clear: both;
    }
}